[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = openforage_smart_contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "openforage_smart_contracts/lib/chainlink-ccip"]
	path = openforage_smart_contracts/lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip.git
